:root {
  --color-text-primary: #ffffff;
  --color-text-navigation: #c7c7c7;
  --color-text-field: #959595;
  --color-bg-button: #8e32c6;
  --color-bg-header: #012d63;
  --color-bg-footer: #021635;
  --color-text-line: #9b9b9b;
  --color-text-input: #d8d8d8;
  --color-text-button: #8d8d8d;
  --font-family-primary: "Roboto", sans-serif;
  --font-family-secondary: "Playfair Display", serif;
}

body {
  font-size: 24px;
  color: var(--color-text-primary);
  font-weight: 400;
  font-family: var(--font-family-primary);
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}

.header {
  background-color: var(--color-bg-header);
  padding-top: 16px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  display: flex;
  gap: 29px;
  align-items: center;
}

.nav-item {
  font-weight: 300;
  color: var(--color-text-navigation);
}

.language-list {
  display: flex;
  gap: 15px;
}

.language-link-ua {
  font-weight: 300;
  color: #dcdcdc;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.language-link-ua:hover {
  text-decoration: underline;
}

.language-link-eng {
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.language-link-eng:hover {
  text-decoration: underline;
}

.nav-item:hover {
  color: var(--color-text-primary);
}

.hero {
  background-image: url(../images/background.webp);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 94px;
  padding-bottom: 183px;
}

.hero-img {
  width: 160px;
}

.hero-cr {
  width: 113px;
}

.hero-photo {
  margin-top: -15px;
  margin-left: 20px;
}

.hero-title {
  font-family: var(--font-family-secondary);
  font-size: 144px;
  line-height: 144px;
}

.hero-subtitle {
  font-family: var(--font-family-secondary);
  font-size: 72px;
  margin-bottom: 12px;
}

.hero-text {
  font-size: 18px;
  margin-bottom: 41px;
  max-width: 508px;
}

.hero-link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 61px;
  padding-right: 61px;
  background-color: var(--color-bg-button);
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-bg-button);
  color: var(--color-text-primary);
}

.hero-link:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em white;
}

.hero-link:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em white;
}

.advantages {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  background-image: radial-gradient(
      circle at bottom right,
      rgba(1, 168, 201, 1) 5%,
      #00e6e600 20%
    ),
    radial-gradient(circle at top left, rgba(128, 47, 184, 1) 5%, #9976f900 20%);
  padding-bottom: 105px;
  background-color: var(--color-bg-footer);
  padding-top: 105px;
}

.advantages-list {
  display: flex;
  gap: 50px;
  align-items: center;
  border: 5px solid var(--color-bg-button);
}

.advantages-item {
  display: flex;
  flex-direction: column;
  gap: 4px;
  padding-bottom: 25px;
  padding-top: 25px;
}

.advantages-item:nth-child(even) .advantages-photo {
  order: -1;
}

.advantages-item:nth-child(1) {
  padding-left: 50px;
}

.advantages-item:nth-child(3) {
  padding-right: 50px;
}

.advantages-item:nth-child(2) {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  padding-left: 95px;
  padding-right: 95px;
}

.advantages-title {
  font-family: var(--font-family-secondary);
  font-size: 36px;
  text-align: center;
}

.reviews {
  border-top: 2px solid var(--color-text-primary);
  border-bottom: 2px solid var(--color-text-primary);
  background-image: url(../images/flowers.png),
    radial-gradient(
      circle at bottom right,
      rgba(1, 168, 201, 1) 5%,
      #00e6e600 20%
    );
  background-position: bottom left;
  background-repeat: no-repeat;
  background-color: var(--color-bg-footer);
}

.reviews-title {
  font-size: 48px;
  font-family: var(--font-family-secondary);
  text-align: center;
  padding-bottom: 24px;
  padding-top: 24px;
}

.reviews-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 93px;
}

.reviews-item {
  margin-bottom: 114px;
  max-width: 255px;
  display: flex;
  align-items: center;
}

.user {
  background-image: linear-gradient(
    to bottom right,
    #00e5e6,
    #00a8f7,
    #9a76f9,
    #cc5ec2
  );
  border-radius: 15px;
  box-shadow: 0 14px 0 -5px #7b54b2, 0 30px 0 -13px #533978;
  padding-top: 49px;
  padding-bottom: 29px;
  padding-right: 14px;
  padding-left: 13px;
  max-width: 255px;
}

.user-text {
  padding-bottom: 8px;
}

.author {
  display: flex;
  gap: 5px;
}

.author-img {
  max-width: 31px;
  display: flex;
}

.reviews-item:nth-child(2) .user {
  background-image: linear-gradient(
    to bottom right,
    #ff68b4,
    #ff45e1,
    #ce3aff,
    #8961ff
  );
  box-shadow: 0 14px 0 -5px #9159b1, 0 30px 0 -13px #61337c;
}

.reviews-item:nth-child(3) .user {
  background-image: linear-gradient(
    to bottom right,
    #ffe128,
    #ff9b5c,
    #ff8381,
    #ff5489
  );
  box-shadow: 0 14px 0 -5px #b95a4c, 0 30px 0 -13px #732f26;
}

.user-date {
  font-size: 14px;
  color: var(--color-text-input);
  padding-bottom: 73px;
}

.author-name {
  font-size: 14px;
}

.author-year {
  font-size: 12px;
  color: var(--color-text-input);
}

.order {
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(../images/backgroundflower.webp);
  padding-bottom: 37px;
}

.order-title {
  font-size: 48px;
  text-align: center;
  font-family: var(--font-family-secondary);
  padding-bottom: 33px;
  padding-top: 20px;
}

.order-form {
  padding-bottom: 19px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.order-input {
  color: var(--color-text-field);
  font-size: 28px;
}

.order-button {
  align-self: center;
  color: var(--color-text-primary);
}

.order-field {
  padding: 12px 25px 13px 25px;
  border-radius: 50px;
  background-color: var(--color-text-primary);
}

.order-field:hover,
.order-field:focus {
  border: 2px solid #4a9dec;
  box-shadow: 0px 0px 0px 7px var(--color-bg-button);
  background-color: white;
}

.order-field :nth-child(1) {
  width: 690px;
  height: 60px;
}

.field-button {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 50px;
  padding-left: 50px;
  background-color: var(--color-text-primary);
  color: var(--color-text-button);
  font-size: 28px;
}

.order-button {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 48px;
  padding-right: 49px;
  background-color: var(--color-bg-button);
  border-radius: 16px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-bg-button);
}

.order-button:hover {
  transform: translate(-0.05em, -0.05em);
  box-shadow: 0.15em 0.15em white;
}

.order-button:active {
  transform: translate(0.05em, 0.05em);
  box-shadow: 0.05em 0.05em white;
}

.footer {
  background-color: var(--color-bg-footer);
  padding-bottom: 50px;
  padding-top: 45px;
}

.footer-info {
  display: flex;
  gap: 373px;
  border-bottom: 1px solid #9b9b9b;
  padding-bottom: 31px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-link:hover {
  text-decoration: underline;
}

.contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-div {
  display: flex;
  gap: 724px;
  padding-top: 24px;
}

.footer-place {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 18px;
}

.footer-cr {
  margin-bottom: -20px;
  margin-left: -80px;
}
